polars
pandas
requests
scipy
numpy
matplotlib
sqlalchemy
pandas as pd 
numpy as np
polars as pl
scipy as sp
matplotlib.pyplot as plt
sqlalchemy as sa        
requests as req
python3 -m pip show pandas
